*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
.flexible{
    display: flex;
}
.intro{
    width: 50%;
    padding-left: 5%;
    padding-right: 4%;
    padding-bottom: 5%;
}
.intro img{
    width: 80%;
}
.intro h1{
    font-size: 50px;
    margin-top: 25%;
    border-left: 5px solid #998CEB;
    padding-left: 10px;
}
h1 span{
    color: deeppink;
}
.intro p{
    padding-top: 25px;
    margin-bottom: 30px;
    text-align: justify;
}
.button{
    text-decoration: none;
    background-color: #998CEB;
    color: white;
    padding: 10px 20px;
    border-radius: 7px 0 7px 0;
}

/************** first section done  **************/

.second h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.col{
    width: 30%;
    padding: 2%;
    margin: 10px;
    text-align: justify;
    border-radius: 30px;
}
.col img{
    width: 50%;
    padding-top: 20px;
}
.col h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}
.one{
    background-color: #d9eefc;
    margin-left: 30px;
}
.two{
    background-color: #e7d9f9;
}
.three{
    background-color: #c5f9d7;
    margin-right: 30px;
}

/************ second section done *************/

.code-bg{
    background-image: url(images/shapes/shape-1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-y: 100px;
    padding-top: 20px;
    display: flex;
}
.code-img img{
    width: 350px;
    height: 350px;
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 40px;
}
.code{
    padding-top: 110px;
    padding-right: 3%;
    padding-left: 35px;
}
.code h1{
    font-size: 40px;
    padding-bottom: 18px;
}
.code p{
    padding-bottom: 30px;
    text-align: justify;
}

/*********** third section done ************/

.forth{
    background-image: url(images/shapes/shape-1.png);
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 20px;
    display: flex;
    width: 100%;
    padding-bottom: 40px;
}


/********* 4 section done***********/


footer{
    background-color: black;
    text-align: center;
}
footer h2{
    color: white;
    padding: 30px 0 20px 0;
    font-family: 'Felipa', cursive;
}
footer h2 span{
    color: deeppink;
}
footer p{
    color: white;
    padding-bottom: 30px;
}